footer{
    background-color: rgb(56, 56, 110);

   
}


#conoce{
    text-align: -webkit-center;
    width: 60%;
    margin-bottom: 20px;
}
.orador{
    text-align: center;
}
label{text-align: center;
margin-bottom: 10px;}
#recordatorio{
    text-align: revert;
    font-size: smaller
}

#hono{
    width: 100%;
}
#compra{
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
    text-align: end;
    margin-right: 20px;
    padding: 5px;

}
#principal{
    filter:brightness(0.4)
}
#some{margin-top: 5px;}


h6{
    display: inline;
    margin: 8px;
    padding: 3px;
    margin-left: 0%;   
    border-radius: 5px;
}
.card-body h5{
    margin-top: 10px;
}

